.Header {
  height: 73px;
  padding: 0 15px;
  margin: 0 44px;
  text-align: center;

  // border-bottom: 1px solid #000;

  position: relative; // start point
  &::after {
    content: '';
    display: block;
    position: absolute; // relativeを地点にしての位置
    bottom: 0;
    left: 0;
    right: 0;

    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: #EDEDED;
  }
}

nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 17px;
}

.Header-logo {
  width: 10rem;
  display: flex;
  align-items: center;

  a {
    display: inline-block;
    width: 9.375rem;

    img {
      height: 100%;
    }
  }
}

.navbar {
  width: 52vw;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  display: flex;
  align-items: center;

  a {
    display: inline-block;
  }
}

.nav-button {
  display: flex;
  align-items: center;

  Link {
    display: inline-block;
    padding: 5px 20px;
  }
}